*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(123, 43, 216);
    padding: 10px 0;
    text-align: center;

}

form{
    padding: 10px 0;
    margin: 0 10px;
    font-family: arial;
}

p{
    padding: 10px 0;
    margin: 0 10px;
    font-family: arial;
    color: aliceblue;
}

h2{
    margin: 0 10px;
    padding: 5px 0;
    color: aliceblue;
}

h1{
    margin: 0 10px;
    padding: 5px 0;
    color: aliceblue;

}

input{
    margin: 10px 0;
    padding: 5px 5px;
    border-radius:8px ;
    border:2px ,solid,rgb(123, 43, 216) ;
    color: aliceblue;
    cursor: pointer;
    background-color: rgb(228, 226, 226);
    transition: 0.5s;

}

input:hover{
    border: rgb(40, 0, 85) solid 2px;
}

textarea{
    border-radius:5px ;
    border:2px ,solid,rgb(123, 43, 216);
    margin: 0px 10px;
    background-color: rgb(228, 226, 226);
    transition: 0.5s;

}

.bu{
   color: white;
   background-color: rgb(123, 43, 216);
   cursor: pointer;
   border: rgb(40, 0, 85) solid 2px;
   transition: 0.5s;
}

.bu:hover{
background-color: aliceblue;
color: black;
border:rgb(90, 0, 126),solid,2px ;

}

div{
display: flex;
margin: 40px 0;
}
section{
    padding: 0px 20px;

}

footer{
    background-color: rgb(123, 43, 216);
    color: azure;
    text-align: center;
    bottom:0px;
    padding:5px 0;
    position: absolute;
    width: 100%;

}

body{
    background-color: black;
}

label{
    color: aliceblue;
}

.tex{
text-align: center;

}